#title {
color: rgb(255, 255, 255);
background-color: rgb(247, 193, 193);
height: 40px;
text-shadow: rgb(122, 122, 122) 4px 3px 0px;
text-align: center;
   padding: 20px;
   margin-bottom: 20px;
   margin-top: 10px;
   font-family: "Arial Black", Gadget, sans-serif;
font-size: 42px;
letter-spacing: -1.2px;
word-spacing: 1.8px;
color: #FFFFFF;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
background-image: url("https://cdn.wallpapersafari.com/58/15/a4exkF.jpg");
}

.order{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12 px;
  color: #C0C0C0;
  margin-bottom: 10px;
}


body {
  font-family: "Arial";
  text-align: center;
  background-image: url("https://media.istockphoto.com/photos/minimal-christmas-concept-candy-canes-white-background-top-view-copy-picture-id1053008964");
  background-repeat: no-repeat;
}


#candy-list1 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
}

#candy-list2 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
   border-color: yellow;
}

#candy-list3 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
   border-color: blue;
}

#candy-list4 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
   border-color: green;
}

#candy-list5 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
  border-color: orange;
}

#candy-list6 {
  width: 27.5%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
  border-color: grey;
}

#candy-list7 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
  border-color: pink;
}

#candy-list8 {
  width: 28%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
  border-color: red;
}

#candy-list9 {
  width: 27.5%;
  display: inline;
  float: left;
  border: 2px solid #99CCFF;
  padding: 8px;
  margin-bottom: 18px;
  margin-right: 10px;
  border-color: #FFCC99;
}



#candy-photo {
  width: 40%;
  height: 300px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}



.candy-name
{color: #000000;
margin-bottom: 6px;}



.Price {
  font-size: 0.65rem;
  Color: #808080;
}

#candy-list1:hover {
  background-color: #99CCFF;
   cursor: pointer;
   }

#candy-list2:hover {
  background-color: yellow;
   cursor: pointer;
   }

#candy-list3:hover {
  background-color: blue;
   cursor: pointer;
   }

#candy-list4:hover {
  background-color: green;
   cursor: pointer;
   }

   #candy-list5:hover {
  background-color: orange;
   cursor: pointer;
   }

   #candy-list6:hover {
  background-color: grey;
   cursor: pointer;
   }

    #candy-list7:hover {
  background-color: pink;
   cursor: pointer;
   }

    #candy-list8:hover {
  background-color: red;
   cursor: pointer;
   }

    #candy-list9:hover {
  background-color: #FFCC99;
   cursor: pointer;
   }

p {
  margin: 0;
}


.candy-list-item .candy-name {
  font-size: 0.8rem;
}
